:root {
  /*-----------
  Color Palette 
  -----------*/
  --hue: 213;

  --primary-100: hsl(var(--hue), 65%, 15%);
  --primary-200: hsl(var(--hue), 65%, 25%);
  --primary-300: hsl(var(--hue), 65%, 45%);
  --primary-400: hsl(var(--hue), 90%, 70%);
  --primary-700: hsl(var(--hue), 46%, 92%);

  --white: var(--primary-700);
  --black: var(--primary-100);
  --dark: var(--primary-200);

  --space-sm: 0.25rem;
  --space-md: 0.5rem;
  --space-lg: 1rem;
  --space-xl: 2rem;
  --space-2xl: 4rem;
  --space-3xl: 8rem;

  --primary: var(--primary-400);
  --primary-button-bg: linear-gradient(
    to right,
    var(--primary-300),
    var(--primary-400)
  );
  --bg: var(--dark);
  --text: var(--white);

  /*--------
  Typography
  --------*/

  --line-height-100: 0.9;
  --line-height-200: 1;
  --line-height-300: 1.25;
  --line-height-400: 1.5;
  --line-height-500: 1.8;

  --sans: "Inter", sans-serif;
  --mono: "Roboto Mono", monospace;

  --text-300: clamp(0.8rem, 0.3vw + 0.73rem, 0.94rem);
  --text-400: clamp(1rem, 0.54vw + 0.86rem, 1.25rem);
  --text-500: clamp(1.25rem, 0.9vw + 1.02rem, 1.67rem);
  --text-600: clamp(1.56rem, 1.42vw + 1.21rem, 2.22rem);
  --text-700: clamp(1.95rem, 2.18vw + 1.41rem, 2.96rem);
  --text-800: clamp(2.44rem, 4.52vw + 1.31rem, 4.53rem);
  --text-900: clamp(3.05rem, 6.93vw + 1.32rem, 6.26rem);
  /*---
  Other
  ---*/

  --max-content-width: 50rem;
  --max-text-width: 45rem;

  --radius-sm: 0.5rem;
  --radius-md: 1rem;

  --gutter: var(--space-lg);

  --shadow-neu-sm: 0.25rem 0.25rem 0.5rem hsl(var(--hue), 55%, 17%),
    -0.25rem -0.25rem 0.5rem hsl(var(--hue), 55%, 33%);
  --shadow-neu-md: 0.5rem 0.5rem 1.5rem hsl(var(--hue), 55%, 17%),
    -0.5rem -0.5rem 1.5rem hsl(var(--hue), 55%, 33%);

  --shadow-neu-sm-invert: inset -0.125rem -0.125rem 0.25rem
      hsl(var(--hue), 55%, 30%),
    inset 0.125rem 0.125rem 0.25rem hsl(var(--hue), 55%, 20%);
  --shadow-neu-md-invert: inset -0.25rem -0.25rem 0.5rem
      hsl(var(--hue), 55%, 30%),
    inset 0.25rem 0.25rem 0.5rem hsl(var(--hue), 55%, 20%);

  --shadow-button: inset -0.25rem -0.25rem 0.5rem hsl(var(--hue), 55%, 40%),
    inset 0.25rem 0.25rem 0.5rem hsl(var(--hue), 55%, 60%);
}

::selection {
  background: var(--primary);
  color: var(--black);
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--sans);
  font-size: var(--text-400);
  line-height: var(--line-height-500);
}

h1 {
  font-size: var(--text-800);
  font-weight: 900;
  line-height: var(--line-height-100);
  margin-bottom: 0.5em;
}

h2 {
  font-size: var(--text-700);
  line-height: var(--line-height-200);
  margin-bottom: 0.5em;
}

h3 {
  font-size: var(--text-600);
  line-height: var(--line-height-300);
  margin-bottom: 0.5em;
}

h4 {
  font-size: var(--text-500);
  line-height: var(--line-height-400);
  margin-bottom: 0.5em;
}

p + :is(h1, h2, h3, h4, h5, h6, p) {
  margin-top: 0.5em;
}

a {
  color: var(--text);
}

ul,
ol {
  line-height: var(--line-height-400);
  margin-block: 0.5em;
}

pre {
  max-width: 100%;
}

code {
  font-family: var(--mono);
}

aside {
  border-left: var(--primary) solid var(--space-sm);
  background: var(--black);
  padding: 1.25rem;
  border-top-right-radius: var(--radius-sm);
  border-bottom-right-radius: var(--radius-sm);
  margin-block: var(--space-xl);
  box-shadow: var(--shadow-neu-md);
  font-size: var(--text-300);
}

button {
  cursor: pointer;
  background: var(--primary-button-bg);
  background-position-x: 0%;
  background-size: 200%;
  border: none;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-neu-sm);
  transition: background-position-x 175ms ease-out;
}

button:hover,
button:focus {
  background-position-x: 100%;
}

button:active {
  box-shadow: var(--shadow-button);
}

@media screen and (min-width: 768px) {
  aside {
    margin-left: var(--space-lg);
  }
}

/* accessibility utility */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: var(--dark);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-button-bg);
  background-position-x: 0%;
  background-size: 200%;
  border-radius: 999px;
}

body::-webkit-scrollbar-thumb:hover {
  background-position-x: 100%;
}
