:root {
  /*-----------
  Color Palette 
  -----------*/
  --hue: 213;

  --primary-100: hsl(var(--hue), 65%, 15%);
  --primary-200: hsl(var(--hue), 65%, 25%);
  --primary-300: hsl(var(--hue), 65%, 45%);
  --primary-400: hsl(var(--hue), 90%, 70%);
  --primary-700: hsl(var(--hue), 46%, 92%);

  --white: var(--primary-700);
  --black: var(--primary-100);
  --dark: var(--primary-200);

  --space-sm: 0.25rem;
  --space-md: 0.5rem;
  --space-lg: 1rem;
  --space-xl: 2rem;
  --space-2xl: 4rem;
  --space-3xl: 8rem;

  --primary: var(--primary-400);

  --color-gradient-ltr: linear-gradient(
    to right,
    var(--primary-400),
    hsl(calc(var(--hue) + 25), 90%, 80%)
  );

  --color-gradient-ttb: linear-gradient(
    to bottom,
    var(--primary-400),
    hsl(calc(var(--hue) + 25), 90%, 80%)
  );

  --text: var(--white);

  /*--------
  Typography
  --------*/

  --line-height-100: 0.9;
  --line-height-200: 1;
  --line-height-300: 1.25;
  --line-height-400: 1.5;
  --line-height-500: 1.7;

  --sans: "Inter", sans-serif;
  --mono: "Roboto Mono", monospace;

  --text-300: clamp(0.8rem, 0.3vw + 0.73rem, 0.94rem);
  --text-400: clamp(1.125rem, 0.8rem + 0.81vw, 1.38rem);
  --text-500: clamp(1.25rem, 0.9vw + 1.02rem, 1.67rem);
  --text-600: clamp(1.56rem, 1.42vw + 1.21rem, 2.25rem);
  --text-700: clamp(1.95rem, 2.18vw + 1.41rem, 2.75rem);
  --text-800: clamp(2.44rem, 4.52vw + 1.3rem, 4rem);
  --text-900: clamp(3.05rem, 6.93vw + 1.3rem, 6.26rem);
  /*---
  Other
  ---*/

  --max-content-width: 53rem;
  --max-text-width: 48rem;

  --radius-sm: 0.5rem;
  --radius-md: 1rem;

  --curve-bounce: cubic-bezier(0.5, -0.85, 0.28, 1.57);
  --curve-bounce-big: cubic-bezier(0.79, -1.51, 0.18, 2.28);

  --gutter: var(--space-lg);

  --shadow-neu-sm: 0.25rem 0.25rem 0.5rem hsl(var(--hue), 55%, 17%),
    -0.25rem -0.25rem 0.5rem hsl(var(--hue), 55%, 33%);
  --shadow-neu-md: 0.5rem 0.5rem 1.5rem hsl(var(--hue), 55%, 17%),
    -0.5rem -0.5rem 1.5rem hsl(var(--hue), 55%, 33%);

  --shadow-neu-sm-invert: inset -0.125rem -0.125rem 0.25rem
      hsl(var(--hue), 55%, 30%),
    inset 0.125rem 0.125rem 0.25rem hsl(var(--hue), 55%, 20%);
  --shadow-neu-md-invert: inset -0.25rem -0.25rem 0.5rem
      hsl(var(--hue), 55%, 30%),
    inset 0.25rem 0.25rem 0.5rem hsl(var(--hue), 55%, 20%);

  --shadow-button: inset -0.25rem -0.25rem 0.5rem
      hsl(calc(var(--hue) + 15), 90%, 85%),
    inset 0.25rem 0.25rem 0.5rem hsl(calc(var(--hue) + 25), 90%, 70%);

  --shadow-button-lg: inset -0.5rem -0.5rem 1rem
      hsl(calc(var(--hue) + 15), 90%, 85%),
    inset 0.5rem 0.5rem 1rem hsl(calc(var(--hue) + 25), 90%, 70%);
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: var(--dark);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-gradient-ttb);
  background-position-x: 0%;
  background-size: 200%;
  border-radius: 999px;
}

body::-webkit-scrollbar-thumb:hover {
  background-position-x: 100%;
}

::selection {
  background: var(--primary);
  color: var(--black);
}

:focus-visible {
  outline: var(--space-sm) solid var(--primary);
  outline-offset: var(--space-sm);
}

body {
  background-color: var(--dark);
  color: var(--text);
  font-family: var(--sans);
  font-size: var(--text-400);
  line-height: var(--line-height-500);
}

h1 {
  font-size: var(--text-800);
  font-weight: 900;
  line-height: var(--line-height-100);
  margin-bottom: 0.5em;
}

h2 {
  font-size: var(--text-700);
  line-height: var(--line-height-200);
  margin-bottom: 0.5em;
}

h3 {
  font-size: var(--text-600);
  line-height: var(--line-height-300);
  margin-bottom: 0.5em;
}

h4 {
  font-size: var(--text-500);
  line-height: var(--line-height-400);
  margin-bottom: 0.5em;
}

a {
  color: var(--text);
  transition: color 150ms ease-out;
}

a:hover {
  color: var(--primary);
}

li + li {
  margin-top: 0.5rem;
}

pre {
  max-width: 100%;
}

code {
  font-family: var(--mono);
}

mark {
  background: var(--color-gradient-ltr);
  color: var(--black);
  padding: 0.125rem 0.25rem;
}

em {
  font-style: inherit;
  color: transparent;
  background-image: var(--color-gradient-ttb);
  background-clip: text;
}

small {
  font-size: var(--text-300);
  line-height: var(--line-height-400);
  font-style: italic;
  background: var(--black);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-sm);
  border: var(--primary) solid 1px;
}

aside,
blockquote {
  position: relative;
  background: var(--black);
  padding: 1.25rem;
  border-top-right-radius: var(--radius-sm);
  border-bottom-right-radius: var(--radius-sm);
  margin-block: var(--space-xl);
  box-shadow: var(--shadow-neu-md);
  font-size: var(--text-300);
}

aside {
  border-left: var(--primary) solid var(--space-sm);
}

blockquote::before {
  content: "“";
  position: absolute;
  top: calc(var(--space-md) * -1);
  left: calc(var(--space-md) * -1);
  font-size: var(--text-900);
  line-height: 0.8;
  color: var(--primary);
}

blockquote::after {
  content: "”";
  position: absolute;
  bottom: calc((var(--space-md) + 0.5em) * -1);
  right: calc(var(--space-md) * -1);
  font-size: var(--text-900);
  line-height: 0.8;
  color: var(--primary);
}

button {
  cursor: pointer;
  background: var(--color-gradient-ltr);
  border: none;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-neu-sm);
  transition: filter 175ms ease-out;
}

button:hover,
button:focus {
  filter: hue-rotate(25deg);
}

button:active {
  box-shadow: var(--shadow-button);
}

@media screen and (min-width: 768px) {
  aside {
    margin-left: var(--space-lg);
  }
}

/*-----
utility 
-----*/

.title {
  position: relative;
  text-align: center;
  margin-bottom: var(--space-2xl);
  padding: var(--space-2xl) 0;
}

.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--color-gradient-ltr);
}

.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--color-gradient-ltr);
  transform: rotate(180deg);
}

/* accessibility */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* markdown styles */
.blogStatus {
  font-size: var(--text-500);
  text-align: center;
  font-style: italic;
  margin-bottom: var(--space-xl);
}

.blogContent > * {
  margin-bottom: 1.7rem;
}

.blogContent :is(h1, h2, h3, h4, h5, h6, p, ol, ul) {
  max-width: var(--max-text-width);
  margin-inline: auto;
}

/* images */
.gatsby-resp-image-wrapper {
  box-shadow: var(--shadow-neu-md);
  border: var(--primary) 1px solid;
  border-radius: var(--radius-sm);
}

.gatsby-resp-image-link {
  border-radius: var(--radius-sm);
}

.gatsby-resp-image-link img {
  border-radius: var(--radius-sm);
}

.gatsby-resp-image-figcaption {
  font-style: italic;
  margin-top: var(--space-lg);
  position: relative;
  font-size: var(--text-300);
  text-align: center;
}
