.intro {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
  margin-bottom: var(--space-2xl);
}

.portraitWrapper {
  position: relative;
  align-self: center;
  height: max-content;
}

@media only screen and (min-width: 39rem) {
  .intro {
    flex-direction: row;
  }

  .portraitWrapper {
    align-self: auto;
  }
}

.portrait {
  aspect-ratio: 1;
  flex-shrink: 0;
  height: 10rem;
  width: 10rem;
  box-shadow: var(--shadow-neu-md);
}

.portrait,
.portrait img {
  border-radius: 999px;
}

.pointer {
  position: absolute;
  bottom: -70%;
  margin-left: var(--space-xl);
}

.focus {
  font-size: var(--text-500);
  line-height: var(--line-height-400);
  margin-bottom: 0.5em;
}

.blurb ul {
  padding-left: var(--space-md);
  list-style: none;
}

.blurb li {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  transition: transform 175ms var(--curve-bounce-big);
}

.blurb li:hover {
  transform: translateX(var(--space-sm));
}

.contactButton {
  display: flex;
  align-items: center;
  width: max-content;
  margin-left: auto;
  margin-block: var(--space-md);
  color: var(--dark);
  cursor: pointer;
  padding: var(--space-md) var(--space-lg);
  background: var(--color-gradient-ltr);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-neu-sm);
  transition: filter 175ms ease-out, color 150ms ease-out;
}

.contactButton:hover,
.contactButton:focus {
  filter: hue-rotate(25deg);
  color: var(--white);
}

.contactButton svg {
  transition: transform 150ms var(--curve-bounce);
}

.contactButton:hover svg {
  transform: translateX(var(--space-sm));
}

.contactButton:active {
  box-shadow: var(--shadow-button);
}

.writing path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: draw 150ms cubic-bezier(0.4, 0, 1, 1) calc(var(--idx, 0) * 150ms)
    forwards;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 1;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
