.arrowLink {
  display: flex;
  margin-left: auto;
  width: max-content;
  align-items: center;
}

.arrowLink.left {
  margin-left: 0;
  margin-right: auto;
}

.arrowLink svg {
  transition: transform 150ms var(--curve-bounce);
}

.arrowLink:hover svg {
  transform: translateX(var(--space-sm));
}

.arrowLink.left:hover svg {
  transform: translateX(calc(var(--space-sm) * -1));
}
