.arrowLink {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.arrowLink svg {
  transition: transform 150ms var(--curve-bounce);
}

.arrowLink:hover svg {
  transform: translateX(var(--space-sm));
}
