.card {
  background: var(--color-gradient-ltr);
  box-shadow: var(--shadow-neu-md);
  border-radius: var(--radius-md);
  padding: var(--space-xl);
  color: var(--dark);
  transition: filter 250ms ease-out, color 250ms ease-out,
    transform 50ms ease-in-out;
}

.card:hover {
  color: var(--black);
  filter: hue-rotate(25deg);
}

.postData {
  display: flex;
  justify-content: space-between;
}

.card:active {
  box-shadow: var(--shadow-button-lg);
  transform: translateY(var(--space-sm));
}

.date {
  font-size: var(--text-300);
  margin-bottom: var(--space-lg);
}

.tagsWrapper {
  font-size: var(--text-300);
  font-style: italic;
  text-align: end;
}

.tagsWrapper a {
  color: var(--dark);
}

.tagsWrapper a:hover {
  color: var(--white);
}
