.card {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-neu-md);
}

.cardImage {
  aspect-ratio: 1;
  flex-shrink: 0;
  border-top-left-radius: var(--radius-md);
  border-top-right-radius: var(--radius-md);
}

.projectInfo {
  background: var(--color-gradient-ltr);
  border-bottom-left-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
  padding: var(--space-xl);
  color: var(--dark);
  width: 100%;
}

@media screen and (min-width: 30rem) {
  .card {
    flex-direction: row;
    gap: var(--space-xl);
    box-shadow: none;
    border-radius: unset;
  }

  .card:nth-of-type(2n) {
    flex-direction: row-reverse;
  }

  .cardImage {
    height: 12rem;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-neu-md);
  }

  .projectInfo {
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-neu-md);
  }
}
